@import url(info.css);
body {
    margin: 0;
    padding: 0;
    border: 0;
}

main {
    position: absolute;
}

header {
  width: 100%;
  position: fixed;
  z-index: 100;
}

p{
    font-size: 160%;
    line-height: 200%;
    text-align: justify;
    margin: 3%;
    font-family: sans-serif;
}