.lol {
    position: absolute;
}
.voto {
    position: absolute;
    width: 80%;
    align-items: center;
}
.Columna a
{
	background: white;
	display: inline;
	float: left;
	margin: 0 15px 30px;
	padding: 10px 10px 25px;
	text-align: center;
	text-decoration: none;
	-webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, .3);
	-moz-box-shadow: 0 4px 6px rgba(0,0,0,.3);
	box-shadow: 0 4px 6px rgba(0,0,0,.3);
	-webkit-transition: all .15s linear;
	-moz-transition: all .15s linear;
	transition: all .15s linear;
	z-index:0;
    position:relative;
}

.Columna a:after {
	color: #333;
	font-size: 25px;
	content: attr(title);
	position: relative;
	top:15px;
}

.Columna img { 
	display: block; 
	width: 300px; 
}

.Columna a {
  -webkit-transform: rotate(-2deg);
  -moz-transform: rotate(-2deg);
}
 
.Columna a:nth-child(even) {
  -webkit-transform: rotate(2deg);
  -moz-transform: rotate(2deg);
}
 
.Columna a:nth-child(3n) {
  -webkit-transform: none;
  -moz-transform: none;
  position: relative;
  top: -5px;
}
 
.Columna a:nth-child(5n) {
  -webkit-transform: rotate(5deg);
  -moz-transform: rotate(5deg);
  position: relative;
  right: 5px;
}
 
.Columna a:nth-child(8n) {
  position: relative;
  top: 8px;
  right: 5px;
}
 
.Columna a:nth-child(11n) {
  position: relative;
  top: 3px;
  left: -5px;
}

.Columna a:hover {
  -webkit-transform: scale(1.25);
  -moz-transform: scale(1.25);
  position: relative;
  z-index: 5;
}

.Columna a {
  -webkit-transition: -webkit-transform .15s linear;
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.25);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.25);
}
 
.Columna a {
  -webkit-box-shadow: 0 3px 6px rgba(0,0,0,.5);
  -moz-box-shadow: 0 3px 6px rgba(0,0,0,.5);
}